.App {
  font-family: 'Poppins', sans-serif;
}

.App-header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #fe3939;
  z-index: 3;
}

.menu {
  height: 100%;
  display: flex;
}

ul {
  display: contents;
}

.menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #E0E0E0;
  text-align: center;
}

/* RESPONSIVE */

@media screen and (max-width: 700px) {
  .jumbotron p {
    font-size: 24px;
  }
}

@media screen and (max-width: 500px) {
  .jumbotron p {
    font-size: 18px;
  }
  .menu ul li {
    min-width: 100px;
    flex-direction: column;
    max-width: 150px;
  }
}