.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
}

.jumbotron {
    color: rgb(244, 240, 240);
    height: 50vh;
    background: linear-gradient(rgba(57, 55, 55, 0.6), rgba(64, 63, 63, 0.6)), url('../images/merah-putih.jpg');
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}

.jumbotron p {
    font-size: 32px;
}